.cv-header {
    background-color: var(--accent-color, #3a5874);
    color: white;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.col-pad {
    padding: 3rem 1.5rem;
}

.full-name {
    margin-bottom: 0.6rem;
}

.details-wrapper {
    display: flex;
    gap: 1rem;
    font-size: 0.8rem;
    font-style: normal;
}

.cv-header .col {
    flex-direction: column;
    align-items: center;
}

.cv-header .material-symbols-outlined {
    font-size: 1rem;
}

.information-wrapper {
    display: flex;
    gap: 0.3rem;
    align-items: center;
}