.experience-card {
    display: flex;
    gap: 3rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-weight: 350;
}

.date-location-wrapper {
    flex-shrink: 0;
}

.company {
    font-size: 1.1rem;
    font-weight: 550;
}

.description {
    padding-top: 0.5rem;
}